{% extends 'base.html.twig' %}

{% block title %}Edit Conge{% endblock %}

{% block body %}
<div class="container">
    <div class="col-md-12 mt-4">
        <h1>Edit Conge</h1>

        {{ include('conge/_form.html.twig', {'button_label': 'Update'}) }}

        <a href="{{ path('index') }}">Revenir à la liste.</a>

        {{ include('conge/_delete_form.html.twig') }}
    </div>
</div>
{% endblock %}
