{% extends 'base.html.twig' %}
{% block title %}Nouveau mot de passe{% endblock %}
{% block body %}
    <div class="mt-4">
        <h1 class="mb-4">Entrez votre nouveau mot de passe !</h1>

        <form method="post">
            <label for="pass">Mot de passe</label>
            <div class="form-group">
               <input  class="form-control" type="password" name="password" id="pass">
            </div>
            <input type="hidden" name="token" value="{{ token }}">
            <div class="form-group">
                <button class="btn btn-primary">Valider</button>
            </div>
        </form>
    </div>
{% endblock %}