
#donnees_principales {
    margin-top: 20px;
}

#donnees_principales, #demandesEnCours{
    margin-top: 62px;
}

.formatedTitle {
    padding-top:8px; 
    padding-bottom:11px; 
    text-align:center
}