{% extends 'base.html.twig' %}

{% block title %}Editer mon profil{% endblock %}

{% block body %}
    <div class="mt-5 mb-5">
        <h1 class="mb-4">Changer mon mot de passe</h1>

        {{ form_start(form, { attr: {style: 'mb-2'} }) }}
            {{ form_row(form.password) }}
            <button class="btn btn-primary">{{ button_label|default('Editer') }}</button>
        {{ form_end(form) }}
    </div>
{% endblock %}