{% extends 'base.html.twig' %}

{% block title %}Editer mon profil{% endblock %}

{% block body %}
    <div class="mt-5 mb-5">
        <h1 class="mb-4">Editer mon profil</h1>

        {{ include('utilisateur/_form.html.twig', {'button_label': 'Mettre à jour.'}) }}
    </div>
{% endblock %}
